.schedule ul {
   margin: 0;
   padding: 0;
   list-style: none;
}

.schedule li {
   padding: 10px;
   background-image: url('/images/stippling-right.png');
   background-position: right;
   background-size: 50%;
   background-repeat: repeat-y;
   background-color: rgb(49, 199, 69);
   border: #000 6px solid;
   margin: 4px 0;
   color: #fff;
   font-weight: bold;
}

.schedule h3 {
   font-size: 2em;
}

.schedule .time {
   padding-right: 60px;
}

.schedule .workshop {
   background-color: #FBCA03;
   color: #000;
}

.schedule .food {
   background-color: #fff;
   color: #000;
}