.logos {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.sponsors {
   width: 80%;
   margin: 0 auto;
}

.sponsorlogo {
   display: block;
   width: 200px;
   margin: 10px;
   height: 100px;
   background-repeat: no-repeat;
   background-position: center;
   background-size: contain;
   /*filter: grayscale(100%) brightness(120%);*/
   transform: scale(1) rotate(0deg);
   transition: transform 0.15s ease-in-out, filter 0.3s;
}

.smaller .sponsorlogo {
   width: 80px;
   height: 80px;
   margin: 20px;
}

a:hover .sponsorlogo {
   /*filter: grayscale(0%) brightness(100%);*/
   transform: scale(1.1) rotate(3deg);
}

.subheading {
   font-family: 'Inconsolata';
   text-shadow: none;
   font-size: 3.5em;
   color: black;
   margin-top: -20px;
}

.smaller .subheading {
   font-size: 2.5em;
}

.wrap {
   width: 60%;
   margin: 20px auto;
}

.bigger .sponsorlogo {
   width: calc(50vw - 120px);
   margin: 30px;
   height: 100px;
}

.bigger {
   margin-bottom: 40px;
}

@media (hover: none) {
   .sponsorlogo {
      filter: grayscale(0%) brightness(100%);
      transform: scale(1.1);
   }
}

@media screen and (max-width: 600px) {
   .sponsor-section {
      width: 90%;
   }
}