body, html {
   margin: 0;
   padding: 0;
   font-family: 'Suisse Intl', 'Helvetica';
   overflow-x: hidden;
   background-color: black;
}

.bg-image {
   z-index: -10;
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
}

section.full {
   min-height: 100vh;
}

section {
   margin-bottom: 100px;
   width: 100%;
   padding: 1rem;
}

@media screen and (min-width: 1200px) {
   section {
      width: 1200px;
   }
}

body {
   color: white;
}

.pop {
   animation: pop 0.8s ease;
   box-sizing: content-box;
   /* display: inline-block; */
}

.wrap {
   width: 100%;
   display: flex;
   justify-content: center;
   background-color: black;
}

h1, h2 {
   color: white;
   opacity: 1;
   margin: 0;
   padding-top: 50px;
   font-size: 7em;
}

h2 {
   font-size: 4em;
}

p {
   font-size: 1.4rem;
}

.bg-green {
   background-color: rgb(49, 199, 69);
}
.green {
   color: rgb(49, 199, 69);
}
.number {
   font-weight: bold;
   font-size: 46px;
   margin: 0 0.5rem;
}

.yellow {
   color: #FBCA03;
}

a.yellow {
   background: black;
}

@keyframes pop {
   0% { 
      transform: scale(0) rotate(-520deg);
   }
   50% {
      transform: scale(1.1) rotate(10deg);
   }
   100% {
      transform: scale(1) rotate(0);
   }
}
