@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:700,700i&display=swap');

body, html {
   margin: 0;
   padding: 0;
   font-family: 'mufferaw';
   overflow-x: hidden;
}

section:first-of-type {
   min-height: 100vh;
}

section {
   margin-bottom: 100px;
}

body {
   background-image: url('/images/stippling.png');
   background-size: 40%;
   background-repeat: repeat-y;
}

.pop {
   animation: pop 0.8s ease;
   box-sizing: content-box;
   /* display: inline-block; */
}

.wrap {
   width: 600px;
   max-width: 95%;
   margin: 0 auto;
}

h1, h2 {
   color: rgb(49, 199, 69);
   margin: 0;
   padding-top: 50px;
   font-size: 7em;
   text-align: center;
   text-shadow: 4px 0 0 #000, -4px 0 0 #000, 0 4px 0 #000, 0 -4px 0 #000, 
                2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000, -2px -2px 0 #000,
                1px 3px 0 #000, -1px 3px 0 #000, 1px -3px 0 #000, -1px -3px 0 #000,
                3px 1px 0 #000, -3px 1px 0 #000, 3px -1px 0 #000, -3px -1px 0 #000,
                -7px -7px 0 #fff, -10px -10px 0 #000;
}

h2 {
   font-size: 4em;
}

.yellow {
   color: #FBCA03;
}

a.yellow {
   background: black;
}

@keyframes pop {
   0% { 
      transform: scale(0) rotate(-520deg);
   }
   50% {
      transform: scale(1.1) rotate(10deg);
   }
   100% {
      transform: scale(1) rotate(0);
   }
}

@font-face {
   font-family: 'mufferaw';
   src: url('/mufferaw/mufferaw.ttf');
}